*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    background-color:rgb(19, 18, 18);
    box-sizing: border-box;

}
h1{
    text-align: center;
    margin: 1rem, 0 3rem;

}
.title{
    color: rgb(233, 93, 0);
    font-weight: 500;
    font-size: 120px;

}
.inputDiv{
    display: flex;
    justify-content: center;
    align-items: center;

}
.input{
    padding: 0.5rem 1rem;
    outline: none;
    height: 50px;
    border-radius: 10px;
    width: 320px;
    margin: 0.40rem;
    transition: 0.5s;
    font-size: 1.15rem;
}
.add{
    outline: none;
    border: none;
    width: 50px;
    border-radius: 10px;
    height: 50px;
    background-color: rgb(214, 226, 43);
    color: white;
    cursor: pointer;
    transition: 0.5s;
    margin: .25rem;

}
.add:hover{
background-color: rgb(32, 58, 68);
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2rem;

}
.item_input{
    background: #ddf9fc;
    outline: none;
    border: 3px solid #f5e2fd;
    border-radius: 10px;
    padding: 10px;
    color: black;
    margin-top: 15px;
    font-size: 20px;
    width: 315px;


}
.remove{
    background: none;
    outline: none;
    border: none;
    color: red;
    font-size: 2rem;
    margin-left: 30px;
    cursor: pointer;

}
.remove_btn{
    margin-top: 35px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    background: red;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    border: none;
    font-size: 15px;
    transition: all 0.5s ease 0s;
    height: 55px;
    width: 150px;

}
.remove_btn:hover{
    background-color: rgb(32, 58, 68);
    letter-spacing: 1px;

}